.wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
    .icon{
        font-size: 200px;
    }
        
    
    .wishlist_container{
       align-items: center;
       justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        
        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
}
