.products{
    background: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .products_container{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:    30px;
        .txt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            p{
                color: #1b745e;

            }
            h2{
                color: #1b745e;
                font-size: 40px;
            }
        }
        .products_row{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // gap: 30px;
            display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 30px;
            .cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    @media  screen and (max-width:981px) {
        .products_container{
           .products_row{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
            grid-column-gap: 30px;
            grid-row-gap: 30px;
           }
        }
    }
}